.log a{
  color: black;
  padding-right:  15px;
}
.log{
    padding-bottom: 12px;
    padding-left: 15px;
}
.sgin-parent{
    padding: 0px 15px;
}
.input-container{
    display: flex;
        flex-direction: column;
}
form{
border: 1px solid #eaeaea !important;
}
.input-container input{
        padding: 7px 5px 7px 5px;
            border: 1px solid #eaeaea;
            outline: none;
            margin-top: 8px;
}
.input-container label,.me label{
    margin-top: 10px;
}
.me input{
margin-top: 12px;
}
.login,.register{
    padding: 12px 10px;
    margin-bottom: 20px;
}
.rember,.submit{
    display: flex;
    justify-content: end;
}
.rember input{
   margin-left: 5px;
   width: 15px;
   height: 15px;
}
.first-input{
    margin-top: 15px;
}
.submit input,.regi input{
        background: #4e9b44;
            padding: 8px 23px;
            color: #fff;
            border: none;
}
.submit{
    margin-top: 12px;
}
.submit a{
    padding-right: 12px;
    padding-top: 6px;
    text-decoration: underline;
    color: #000;
}
.bus{
    justify-content: space-between;
    padding: 20px 0px;
    align-items: flex-end;
}
.check input{
    width: 15px;
    height: 15px;
}
.regi{
    text-align: right;
}
.check label{
    font-weight: 800;
}
.check input{
    margin-left: 10px;
}




@media (min-width:820px){
  .sgin-parent{
    display: flex;
  }
  .login,.register{
    width: 50vw;
    padding: 0px 25px;
  }
  .input-container{
    display: flex;
    flex-direction: row;
  }
  .input-container label ,.input-container input{
    flex: 1 1 0;
  }
  .input-container input,.input-container label{
          margin-top: 20px;
  }
  .input-container input {
      padding: 12px 5px 12px 5px;
  }
  .login,.register{
   padding-top: 20px;
   padding-bottom: 20px;
}
}
@media (min-width:1050px){
 .sgin-parent{
    row-gap: 20px;
    padding: 0px 10vw;
 }
 .log{
    padding-left: 10vw;
 }
  .input-container input{
  flex: 3 1 0;
  }
  .register{
    margin-left: 15px;
  }
  .fix{
    padding: 0px 10vw;
  }
  .regi{
    padding-top: 20px;
  }
}

