.disabled-link {
        color: #e0e0e0;
    pointer-events: none;
    text-decoration: none;
    cursor: not-allowed;
    font-weight: 600;
}
.bags{
    cursor: pointer;
}
 .bags span {
     height: 6px;
     background-color: #fff;
     color: #fff;
     width: 100%;
 }
 .bags:hover .bt {
     background-color: #4e9b44;
 }
.home-nav{
    justify-content: space-around;
    height: 8vh;
    align-items: center;
}
.home-nav a{
    color: #000;
}
.home-nav .actives{
color: #4e9b44;
}

.search-div .search{
   flex: 5 1 0;
}
.option{
    flex: 1 1 0;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input {
   width: 95%;
   padding: 7px 35px 7px 7px;
   border:1px solid #4e9b44;
}
.search-div {
   width: 100vw;
    background-color: #fff;  
     position: sticky;
    top: 0;
}
#sticky{
    position: sticky;
    top: 0;
    z-index: 100;
}
.sea-icon{
    right:  30px;
    top: 5px;
    color: #4e9b44;
    font-size: 20px;
}
header{
    padding: 1.5rem 0px;
}
.logo{
  /* padding-top: 10px; */
  padding-left: 10px;
}
.pad-effect{
padding: 1rem 2rem;
}
.pad-effect h2{
    font-family: "Didact Gothic";
}
.main-page{
    padding: 1rem 0px;
}
.main-page p{
    font-size: 17px;
}
.main-page h3,.main-page p{
    padding-top: 0.8rem;
}
.bags{
    flex: 1 1 0;
    display: flex;
   align-items: center;
    margin-top: 1.2rem;
    background:linear-gradient(to bottom, #fff 0%, #eff0ee 100%);
    flex-direction: column;
    text-align: center;
    padding: 0px 12px;
    border: 1px solid #dfe0de;
    /* border-top: 5px solid black none; */
}
.bags h4{
    font-size: 18px;
    color: #414141;
    padding: 20px 0px;
}
.bags button{
    background:linear-gradient(to bottom, #4e9b44 0%, #64c055 100%);
    width: 70vw;
    color: #fff;
    font-size:large;
    padding: 12px 0px;
    border: none;
    margin-bottom: 1rem;
}

.contact h3{
    padding: 12px 0px;
}
.contact h4{
    padding: 12px 0px;
        color: #414141;
        font-weight: 300;
}
.navs{
    display: none;
}
.navs span,.navs h1,.navs a,.navs h2{
    padding: 1rem 0px;
}
.navs{
    margin-top: 20px;
}
.active{
    color:#4e9b44 ;
}
.go-back{
    padding: 1rem 0px;
}
.go-back button{
    background: #d6d4d4;  
    padding: 10px 12px;
    border: none;
    border-radius:10px ;
}
.he-main{
    color: #fff;
    height: 4vh;
    background-color: #000;
    align-items: center;
    font: inherit;
}.rating {
    height: 2.5vh;
    margin: 0px 7px;
}
.sing{
    height: 3vh;
    margin: 0px 3px;
}

.imag-bag{
    height: 50px;
}
.noti{
    margin-right: 15px;
}
.noti .lock{
    border:3px solid #64c055;
   width: 14px ;
   height: 9px;
    border-radius:11px 11px 0px 0px;
    margin-left: 7px;
   border-bottom: none;
}
.noti .key{
    border: 3px solid #64c055;
    width: 28px;
    height: 22px;
}
.icons-top{
    background-color: #e7e7e7;
    height: 9vh;
}
.size-ic{
    font-size: 46px;
}
.home-nav{
    width: 90%;
    height: 6vh;
    margin-left: 12px;
}
.home-nav a{
    font-size: 16px;
}
.with{
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}
.with img{
    height: 30px;
}
.fontaw{
    padding-top: 20px;
}
.rating{
    margin-left: 15px;
}
.he-main h3{
    font-weight: 400;
    font-size: medium;
}
.bags h4,.pad-effect .h2,.main-page h2 {
    font-weight: 300;
}
.main-page h2{
    font-size: 23px;
}
.prog{
    font-weight: 500;
}
.pay{
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 22vh;
    justify-content: space-between;
    padding-top: 20px;
}
.pay h3{
    font-weight: 500;
}
.fle{
        width: 97%;
            margin: 0 auto;
            padding: 0 1.5%;
}
.contact h4{
    padding: 15px 10px;
}
.contact h3{
    padding: 10px;
}
footer{
    padding: 10px 0px;
}
.live-chat{
    position: fixed;
    bottom: 0;
}
.live-chat img{
    height: 60px;
}
.live-chat .relative{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.live-chat h4{
    justify-content: flex-end;
    background-color:#4e9b44;
    color: #fff;
    padding: 6px 10px;
    box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .26);
    border-radius:15px 0px 10px 15px ;
}




@media (min-width:820px) {
    .view-bags{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
     row-gap:  20px;
     column-gap: 25px;
      padding-top: 20px;
    }
    .cha{
        width: 60vw;
    }
     .bags{
        /* min-height: 180px;
        max-height:auto; */
        padding: 0;
        /* height: 200px; */
        background: #fff;
        border: none;
        margin-top: 0px;
     }
     .loop{
        /* border: 1px solid black; */
        padding: 0 20px;
        width: 100%;
        background: linear-gradient(to bottom, #fff 0%, #eff0ee 100%);
        border: 1px solid #dfe0de;
     }
    .main-page{
padding-left: 20vw;
    }
    .loop h4{
        padding-top: 50px;
    }
      .next{
        padding:0px 15px;
      }
      .twist{
        padding: 0px 5px;
      }
      .twist h4{
        padding-top:17px ; 
      }
    .bags{
        display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    }
    .bags h4{
        font-weight: 300;
    }
         /* .next {
             height: 10vh;
             display: flex;
             align-items: center;
         } */
    .home-nav{
        justify-content: start;
    }
    .home-nav a{
        padding: 0px 1rem;
    }
     .search-div {
          justify-content: space-between;
      }
    .option{
        justify-content: center;
        margin-left: 15px;
        display: flex;  
        background-color:#d6d4d4;
        flex: 1 1 0;
    }
    .option span{
        padding-left: 10px;
        padding-bottom: 4px;
    }
    .search input{
        width:60% ;
    }
    .search{
        flex: 1 1 0;
        display: flex;
        justify-content: center;
    }
    .sea-icon{
        right: 9.5vh;
    }
    .op{
      flex:1 1 0; 
      color: #64c055;
      font-size: x-large;
      margin-right: 20px;
    } 
    .option span{
        font-size: 15px;
        padding-top: 8px;
    }
    .bag-icon{
        font-size:55px;
        padding-top: 10px;
    }
    .pad-effect .h2{
        padding-left: 20vw;
    }
    .contact{
        flex: 1 1 0;
    }
    .lab{
        border-top: 1px solid #8f8e8e;
        border-bottom: 1px solid #848484;
    }
    .up-down{
        display: none;
        color: #fff;
    }
    .help-line{
        height: 3vh;
        background: #e7e7e7;
        align-items: center;
    }
    .help-line a{
color: #414141;
font-weight: 600;
    }
    .he-main{
        height: 3vh;
    }
    .logo{
        justify-content: center;
    }
    .with{
        display: flex;
        justify-content: center;
    }
    .with img{
        margin-right: 15px;
    }
    .hel a{
        padding: 0px 5px;
    }
    .us{
        padding-top: 15px;
    }
    .he-main span{
        font-size: 14px;
    }
    .he-main .sing{
        height: 25px;
    } .contact h4 {
         padding: 6px 10px;
     }
          .fle {
              border-bottom: 1px solid #787878;
          }
   .mlp{
    display: flex;
    padding: 10px 15px;
   }
   .eppa{
    padding: 10px 0px;
    width: 95vw;
    display: flex;
    flex-direction: column;
   }
   .der{
    flex: 2 1 0;
   }
   .der h3{
    font-weight: 400;
    font-size: medium;
   }
   .card{
    flex: 3 1 0;
   }
   .ayo{
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
   }
   
   .cori{
    display: flex;
    justify-content: center
   }
}





@media (min-width:900px){
.sea-icon {
        right: 19vh;
    }
    .search input{
        width: 63%;
    }
}







@media (min-width:1000px){
.main-parent{
    padding: 0px 20px;
    display: flex;
    /* flex-direction: column; */
}
.view-bags{
    width: 93%;
}
header{
    padding: 5px 0px;
}
.main-page{
    padding-left: 0px;
    width: 100%;
}
.pad-effect{
    padding: 10px 40px;
}

 .sea-icon {
     right: -20px;
     top: 29px;
 }
   .up-down {
       display: none;
       color: #fff;
   }
.pad-effect .h2{
  padding-left: 0px;
}
.search-div{
    flex-wrap: wrap;
}
.contact h3,.contact h4{
    padding: 5px 0px;
}
.pad-effect{
    margin-top: 0px;
}
.home-nav{
    display: flex;
   margin-top: 14px;
}
.navs {
    padding-right: 20px;
}
.active{
    background: #4e9b44;
    color: #fff;
}
.navs span,
.navs h1,
.navs a{
    padding: 10px 17px;
    width: 210px;
}
.navs .prog{
    padding: 0px 20px;
    padding-bottom: 18px;
    padding-top: 10px;
}
.navs a{
   border-left: 2px solid #4e9b44;
}
.help-line{
    height: auto;
    margin-bottom: 10px;
    justify-content: space-between;
        padding: 0px 20px;
}
.hel .lo{
    border-right: none;
    margin-right: 14px;
} 
.op{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
.op p{
    color: #414141;
    font-size: 20px;
}
.search{
    flex: 4 1 0;
    text-align: center;
}
.search .relative{
    width: 45%;
    text-align: center;
     align-items: flex-end;
     padding-top: 20px;
}
.search input{
    width: 100%;
    padding: 8px 30px 8px 7px;
    font-size: 1rem;
    margin-left: 26px;
    border: 1px solid #64c055;
    outline: none;
}
/* .logo,.home-nav,.bag-link{
   
} */
.navs{
    margin-top: 0px;
}
.bag-link{
    padding: 0px 25px;
    flex-wrap: wrap;
    padding-top: 10px;
    position: relative;
}
.bag-link a{
 color: #414141;
 font-weight: 600;
 font-size: 15px;
 padding:13px 8px;
 margin-left: 12px;
}
#red{
    color: #f81515;
}
.fle{
    display: flex;
    width: 100%;
    align-items: flex-end;
border-bottom: 1px solid #000;
border-top: 1px solid #000;
}
.fle div{
    flex: 2 1 0;
}
.navs{
    display: flex;
}

.lab{
    flex-direction: column;
    border: none;
}
.fle footer{
   height: 22vh;
}
.love{
    display: none;
}
.main-parent{
    flex-wrap: wrap;
}
.imag-bag {
    height: 60px;
    margin-left: 15px;
}
.rating{
    padding: 0px 10px;
    height: 24px;
}
.he-main{
    height: 4.5vh;
}
.help-line a{
font-weight: bold;
padding: 7px 7px;
}
.he-main h3{
  font-size: larger;
  padding-bottom: 3px;
}
.he-main img{
    margin: 0 5px;
}
.home-nav a {
    padding: 0px 5px;
}
.he-main h3,.he-main span{
    font-weight: 500;
}
.home-nav{
    padding-left: 5px;
}
.card{
   padding-left: 8%;
}
.all-bags{
    display: none;
    background-color: #fff;
    width: 95.5vw;
    left: 1.5vw;
    border: 1px solid #dfe0de;
    padding:0px 20px;
    top: 60px;
    z-index: 0;
    position: absolute;
    padding-bottom: 10px;
}
.all-bags p{
    font-weight: 300;
    font-size: medium;
    padding: 2px 0px;
}
.all-bags h5{
font-size: 15px;
padding-top: 20px;
padding-bottom: 4px;
}
.all-bags div{
    width: 20vw;
    padding-right: 30px;
}
.harrier:hover .carrier{
    display: flex;
}
.hristmas:hover .christmas{
    display: flex;    
}
.aper:hover .paper {
    display: flex;
}
.ute:hover .jute {
    display: flex;
}
.hristmas:hover .christmas {
    display: flex;
}
.randed:hover .branded {
    display: flex;
}
.issue:hover .tissue {
    display: flex;
}
.ift:hover .gift {
    display: flex;
}
.ostal:hover .postal {
    display: flex;
}
.nsutrial:hover .insutrial{
    display: flex;
}
.rinted:hover .printed {
    display: flex;
}
.bag-link a:hover{
    border: 1px solid #dfe0de;
    box-shadow:  0px 4px  #4e9b44;
    z-index: 100;
}
.live-chat .relative{
    background-color: #414141;
    height: 5vh;
}
.live-chat h4{
    position: absolute;
    right: 3vw;
    top: -2vh;
}
.live-chat .nor{
   position: absolute;
   height: 80px;
   top:-2vh ;
}
}


@media (min-width:1500px){
.main-parent{
    padding: 0px 7.5vw;
}
.logo,.bag-link{
    padding: 0px 7vw;
} 
.home-nav{
   padding: 0px 6.8vw;
   margin-top: 14px;
}
.bag-link{
    padding-top: 10px;  
}
.bag-link a{
    padding: 13px 1px;
    font-weight: 500;
}
.home-nav{
    margin-top: 0px;
}
.help-line{
    padding: 0px 8vw;
}
.hel a{
    padding: 0px 7px;
}
.op{
    justify-content: flex-end;
}
.fle{
    display: flex;
    align-items: flex-start;
}
.lab{
    display: flex;
    flex-direction: row;
}
.fle footer {
    height: 15vh;
}
.contact h3,.contact h4{
    padding: 9px 0px;
}
.hel a {
    padding: 0px 8px;
}
  .up-down {
      display: none;
      color: #fff;
  }
  .bag-link a{
    font-weight: 600;
  }
  .navs span,
  .navs h1,
  .navs a{
    padding: 10px 17px;
  }
  
}




/* .logo img{
   margin-bottom: 10px;
} */